@import 'tailwind.css';

body {
    background-color: #121212;
    color: #ffffff;
    text-align: right;
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin-bottom: 50px;
}

.main-content {
    margin-bottom: 50px;
}

.footer {
    margin-top: 50px;
}